# Node modules
node_modules/

# Environment variables
.env

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# npm package lock file (optional, if you want to ignore it)
package-lock.json
